<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.samapti.learning.seleniumtest.BaseClass"/>
      <class name="com.samapti.learning.seleniumtest.ValidateFacebookTest"/>
      <class name="com.samapti.learning.seleniumtest.RegisterFacebookAcct"/>
      <class name="com.samapti.learning.seleniumtest.ValidateGoogleTest"/>
      
      <class name="com.samapti.learning.seleniumtest.ValidateFrames"/>
      <class name="com.samapti.learning.seleniumtest.WindowsTest"/>
      <class name="com.samapti.learning.seleniumtest.AlertTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
